body {
  background-color: rgb(20, 20, 20);
}
.App {
  margin: 3rem 0;
  background-color: rgb(20, 20, 20);
  text-align: center;
  overflow: hidden;
}

* {
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  /* background-color: #35aee2; */
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  /* background-color: #60c657; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.sub-text {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.connect-wallet-button {
  background: transparent;
  border-radius: 0.2rem;
  border: solid gray 1px;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* background: -webkit-linear-gradient(left, #ff8867, #ff52ff); */
  background-size: 200% 200%;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
}

.connect-wallet-button:hover {
  background: white;
  color: black;
}

.mint-button {
  background: transparent;
  color: gold;
  border-radius: 0.2rem;
  border: solid gold 1px;
  font-family: "Montserrat", sans-serif;
  background-size: 200% 200%;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  margin-left: 10px;
}

.mint-button:hover {
  background: gold;
  color: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 2rem;
  /* padding-bottom: 45px; */
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 0.8rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.twt-link {
  font-weight: bold;
}
.twt-link:hover {
  text-decoration: underline;
}

.connected-container input[type="text"] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 1.6rem;
    word-wrap: break-word;
  }

  .connect-wallet-button {
    width: 70%;
    margin-bottom: 1rem;
  }
}
